/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}



body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', "Arial" sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4a4b4c;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */


.site-header-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.site-logo {
  display: flex;
  align-items: center;
}

.site-heading {
  margin: 0;
  margin-right: 40px;
  padding: 9px 6px;
  border-radius: 7px;
  background-color: #fff;
  color: #7296ee;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.site-heading-course:not(:last-child) {
  margin-right: 25px;
}

.site-heading-course strong {
  color: #2959ce;
}

.header-logoin {
  display: flex;
  align-items: center;
}

.header-search {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 25px;
  width: 275px;
  height: 45px;
  border-radius: 60px;
  background-color: #fff;
}

.header-search-btn {
  align-self: end;
  color: #8D8D8D;
  padding: 0;
  padding-left: 15px;
  border: none;
  background-color: transparent;
  text-align: center;
  display: inline-block;
}

.bx-search {
  cursor: pointer;
  display: block;
}

/* HEADER-INPUT */
.header-input {
  border: none;
  outline: none;
  padding: 0;
  align-self: center;
}

/* HEADER-LANGUAGE-BUTTON */
.header-lang-btn {
  width: 70px;
  display: flex;
  margin-right: 25px;
  align-items: center;
  justify-content: start;
  background-color: #DCE6FF;
  border-radius: 39px;
}

.header-lang-text {
  text-transform: uppercase;
}

.lang-uz {
  display: inline-block;
  padding: 8px;
  margin: 3px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}

.lang-ru {
  color: #a6a6a6;
}

/* HEADER-SIGN IN */
.header-login {
  width: 90px;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #7296EC;
}

.header-login-text {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
}

/* SITENAV */
.site-nav {
  border-bottom: 1px solid #d1d1d1;
}

.sitenav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.sitenav-items {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.sitenav-items:not(:last-child) {
  margin-right: 34.45px;
}

.sitenav-link {
  text-decoration: none;
  color: #7f7f7f;;
}